/* Main container */
.main {
    margin-top: 22%;
    
  }
  
  /* Section container */
  .section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    gap: 1.5rem;
  }
  
  .section-img {
    width: 50%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .section-content {
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column; /* Asegura que el texto fluya correctamente */
    justify-content: center;  
    padding: 2rem;
  }
  
  .section-content h2 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .section-content p {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
  }
  
  /* Alignment for alternating sections */
  .image-right {
    flex-direction: row;
  }
  
  .image-left {
    flex-direction: row-reverse;
  }
  
  /* Responsiveness */
  @media (max-width: 768px) {
    .section {
      flex-direction: column;
    }
  
    .section-img,
    .section-content {
      width: 100%;
    }
  
    .section-content {
      text-align: center; /* Cambia el texto a centrado para pantallas pequeñas */
    }
  }
  .imgHotel{
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    
    border-radius: 3px;
  }